*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    font-family: 'Fredoka', sans-serif; 
}

.clear-fix:after{
    content: "";
    display: block;
    clear: both;
}
/* TITOLI */
h1{
    color: rgb(229, 49, 112);
}

header{
    padding: 30px 0px 50px 0px;
    text-align: center;
}

/* MAIN */
main{
    max-width: 1000px;
    width: 80vw;
    min-width: 300px;

    min-height: 52vh;

    margin: 0 auto 200px auto;
}

main .paragraph{
    text-align: center;
    padding-bottom: 30px;
}

main .table{
    margin: 0 auto;
    display: inline-block;

    text-align: center;
}

    /* TABLE */
    .table .card{
        display: inline-block;
        width: 33%;
        height: 120px;
        min-width: 280px;

        padding: 15px;
        margin: auto;
    }

    .table .card .per_img{
        height: 90px;
        width: 90px;
        margin-right: 10px;

        float: left;
    }

    .table .card .info{
        height: 90px;

        padding: 0.5em;
        line-height: 1.5em;


        background-color: rgb(15, 14, 23);
        color: white;

        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    }

    .table .card .per_name{
        font-size: 1.2em;
    }

    .table .card .per_prof{
        font-size: 0.9em;
        font-weight: 200;
        display: block;
    }

    .table .card .per_email{
        font-size: 0.7em;

        text-decoration: none;
        color: rgb(49, 184, 223);
    }

    /* PHOTO */
    #first{
        background-image: url(../img/male1.png);
        background-size: cover;
    }

    #second{
        background-image: url(../img/female1.png);
        background-size: cover;
    }

    #third{
        background-image: url(../img/male2.png);
        background-size: cover;
    }

    #fourth{
        background-image: url(../img/female2.png);
        background-size: cover;
    }

    #fifth{
        background-image: url(../img/male3.png);
        background-size: cover;
    }

    #sixth{
        background-image: url(../img/female3.png);
        background-size: cover;
    }


footer{
    background-color: rgba(1, 5, 44, 0.3);
    color: white;

    min-width: 300px;

    margin-top: 10vw;
    padding: 10px 0px;
    
    text-align: center;

    height: 10vh;
}